@page "/"

<style>
    .center {
        text-align: center;
    }
</style>

<h1>Wecome to Traveless</h1>

<img src="images/traveless.png" alt="Traveless Logo" title="Traveless Logo" width="500px"/>
<!-- Source: logo generated using Microsoft Image Creator AI Tool (https://designer.microsoft.com/image-creator) -->
